- model_class = Business
.page-header
  %h4=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:logo) + ':'
  %br
  = image_tag @business.logo.url(:medium)
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @business.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @business.description
%p
  %strong= model_class.human_attribute_name(:owner) + ':'
  %br
  = @business.owner.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), businesses_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_business_path(@business), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), business_path(@business), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
